@font-face{font-family:"Unbounded";font-style:normal;font-weight:400;src:url('../fonts/Unbounded-Light.woff2') format('woff2'), url('../fonts/Unbounded-Light.woff') format('woff');font-display:swap;}
@font-face{font-family:"Unbounded";font-style:normal;font-weight:500;src:url('../fonts/Unbounded-Medium.woff2') format('woff2'), url('../fonts/Unbounded-Medium.woff') format('woff');font-display:swap;}
@font-face{font-family:"Unbounded";font-style:normal;font-weight:700;src:url('../fonts/Unbounded-Bold.woff2') format('woff2'), url('../fonts/Unbounded-Bold.woff') format('woff');font-display:swap;}
* {
    outline: none !important;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24" fill="silver"><circle cx="12" cy="12" r="10"/></svg>'), auto !important; /* indigo */
}
*::-webkit-scrollbar {
    width: 0.4em
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.00)
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.1);
    outline: 1px solid slategrey
}
body {
    margin: 0;
    padding: 0;
    font-family: "Unbounded", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #A6A6A6;
    background-color: #222020;
}
.navbar-brand {
    display: table;
    color: #A6A6A6 !important;
}
.navbar-brand:hover {
    color: #8950f1 !important;
}
.navbar-brand span {
    display: table-cell;
    vertical-align: middle;
    font-weight: 700;
}
.navbar-brand span strong {
    font-weight: 700;
    color: #8950f1;
}
@media (min-width: 768px) {
    .col-md-5m {
        flex: 0 0 auto;
        width: 35.66666667%;
    }
}
@media (max-width: 767px) {
    .navbar-brand {
        font-size: 1rem;
    }

    .social-icons {
        margin-top: 15px;
    }
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8) !important;
}
.navbar-nav .nav-link:hover,
main .container-fluid a:hover,
.navbar-dark .navbar-nav .nav-link.router-link-exact-active {
    text-decoration: underline;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.router-link-exact-active {
    color: #ffffff !important;
}
.social-icons {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}
.social-icons li {
    background-size: cover;
    width: 21px;
    height: 21px;
    display: inline-block;
    position: relative;
    margin-left: 30px;
}
.social-icons a {
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.facebook {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512" fill="rgba(255, 255, 255, 0.55)" preserveAspectRatio="xMidYMid"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.8 90.7 226.4 209.3 245V327.7h-63V256h63v-54.6c0-62.2 37-96.5 93.7-96.5 27.1 0 55.5 4.8 55.5 4.8v61h-31.3c-30.8 0-40.4 19.1-40.4 38.7V256h68.8l-11 71.7h-57.8V501C413.3 482.4 504 379.8 504 256z"/></svg>');
}
.instagram {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512" fill="rgba(255, 255, 255, 0.55)" preserveAspectRatio="xMidYMid"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>');
}
.linkedin {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512" fill="rgba(255, 255, 255, 0.55)" preserveAspectRatio="xMidYMid"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>');
}
.behance {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512" fill="rgba(255, 255, 255, 0.55)" preserveAspectRatio="xMidYMid"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M186.5 293c0 19.3-14 25.4-31.2 25.4h-45.1v-52.9h46c18.6 .1 30.3 7.8 30.3 27.5zm-7.7-82.3c0-17.7-13.7-21.9-28.9-21.9h-39.6v44.8H153c15.1 0 25.8-6.6 25.8-22.9zm132.3 23.2c-18.3 0-30.5 11.4-31.7 29.7h62.2c-1.7-18.5-11.3-29.7-30.5-29.7zM448 80v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zM271.7 185h77.8v-18.9h-77.8V185zm-43 110.3c0-24.1-11.4-44.9-35-51.6 17.2-8.2 26.2-17.7 26.2-37 0-38.2-28.5-47.5-61.4-47.5H68v192h93.1c34.9-.2 67.6-16.9 67.6-55.9zM380 280.5c0-41.1-24.1-75.4-67.6-75.4-42.4 0-71.1 31.8-71.1 73.6 0 43.3 27.3 73 71.1 73 33.2 0 54.7-14.9 65.1-46.8h-33.7c-3.7 11.9-18.6 18.1-30.2 18.1-22.4 0-34.1-13.1-34.1-35.3h100.2c.1-2.3 .3-4.8 .3-7.2z"/></svg>');
}
.navbar-dark .navbar-toggler {
    border-color: transparent !important;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0 !important;
}
button.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    margin-right: -7px;
    margin-bottom: -15px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='rgba%28255, 255, 255, 0.55%29' preserveAspectRatio='xMidYMid'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
}
.footer p {
    font-size: 0.76em;
}
.footer a:hover {
    color: #ffffff !important;
}

@media (min-width: 992px) {
    .social-icons {
        width: 182px;
        justify-content: space-between !important;
    }
    .social-icons li {
        margin-left: 0 !important;
    }
}
